<div class="container my-2 p-5 border border-light">

  <div id="calendar"></div>

  <script type="text/javascript">
  $(document).ready(function(){
      $('#calendar').fullCalendar({
          events: '/events.json',
          selectable: true,
          selectHelper: true,

          select: function(data) {
            var fullcalDate = moment(data).format( 'YYYYMMDD' );
            console.log(fullcalDate);
            location.href = "/nozmemo/memo/"+fullcalDate+"" ;
          }
      });
  });
  </script>
</div>
